html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

menu {
  margin: 0;
  padding: 0;
}

.list--nostyle {
  margin: 0;
  padding: 0;
}

.list__item--nostyle {
  list-style: none;
}

.hidden {
  display: none;
}

.link--nostyle {
  text-decoration: none;
}