@font-face {
  font-family: "Monda";
  src: url("../fonts/Monda-Regular.ttf");
}
@font-face {
  font-family: "Monda";
  src: url("../fonts/Monda-Bold.ttf");
  font-weight: bold;
}

html {
  font-family: "Monda";
}