<menu class="navigation">
    <ul class="menu list">
        <li class="menu__item list__item--nostyle">
            <span class="menu__link link--nostyle">
                <a href="" class="menu__icon menu__icon__profile icon">
                    <svg class="icon__svg"><use xlink:href="#profile"></use></svg>
                </a>
                <span class="menu__text">about</span>
            </span>
        </li>
        <li class="menu__item list__item--nostyle">
            <span class="menu__link link--nostyle">
                <a href="" class="menu__icon menu__icon__works icon">
                    <svg class="icon__svg"><use xlink:href="#works"></use></svg>
                </a>
                <span class="menu__text">works</span>
            </span>
        </li>
        <li class="menu__item list__item--nostyle">
            <span class="menu__link link--nostyle">
                <a href="" class="menu__icon menu__icon__contact icon">
                    <svg class="icon__svg"><use xlink:href="#contact"></use></svg>
                </a>
                <span class="menu__text">contact</span>
            </span>
        </li>
    </ul>
</menu>