<menu class="navigation">
    <ul class="menu list">
        <li class="menu__item list__item--nostyle">
            <a href="" class="menu__link link--nostyle">
                <div class="menu__icon icon">
                    <svg class="icon__svg svg__profile"><use xlink:href="#profile"></use></svg>
                </div>
                <span class="menu__text">about</span>
            </a>
        </li>
        <li class="menu__item list__item--nostyle">
            <a href="" class="menu__link link--nostyle">
                <div class="menu__icon icon">
                    <svg class="icon__svg"><use xlink:href="#images"></use></svg>
                </div>
                <span class="menu__text">works</span>
            </a>
        </li>
        <li class="menu__item list__item--nostyle">
            <a href="" class="menu__link link--nostyle">
                <div class="menu__icon icon">
                    <svg class="icon__svg"><use xlink:href="#envelop"></use></svg>
                </div>
                <span class="menu__text">contact</span>
            </a>
        </li>
    </ul>
</menu>