%bgLayer__section {
  position: absolute;
  left: 0;
  width: 100%;
}

%bgLayer__slant {
  height: 400px;
  transform: skewY(20deg);
  background-color: var(--bgLayer-slant);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
  transform-origin: 0% 100%;
  z-index: 100;
}

.bgLayer {
  position: absolute;
  left: 50%;
  width: var(--site-width);
  height: var(--site-height);
  transform: translate(-50%, 0);
  background-color: var(--white);
  overflow: hidden;
  z-index: 0;
}

.bgLayer__landing {
  @extend %bgLayer__section;
  top: var(--landing-top);
  height: var(--landing-height);
  background: var(--bgLayer-landing);
  background: linear-gradient(to top, var(--bgLayer-landing), var(--bgLayer-landing-secondary));
  z-index: 10;
}

.bgLayer__about {
  @extend %bgLayer__section;
  top: var(--about-top);
  height: var(--about-height);
  z-index: 100;
}

.bgLayer__slant--se {
  @extend %bgLayer__slant;
  transform: skewY(20deg);
  transform-origin: 0% 100%;
}

.bgLayer__works {
  @extend %bgLayer__section;
  top: var(--works-top);
  height: var(--works-height);
  z-index: 100;
}

.bgLayer__slant--sw {
  @extend %bgLayer__slant;
  transform: skewY(-20deg);
  transform-origin: 100% 0;
}

.bgLayer__contact {
  @extend %bgLayer__section;
  top: var(--contact-top);
  height: var(--contact-height);
  background: linear-gradient(to top, var(--bgLayer-contact), var(--bgLayer-contact-secondary));
  z-index: 10;

  .bgLayer__slant--sw {
    height: 300px;
    background-color: var(--white);
  }
}