body {
  background: var(--black);
}

.site__wrapper {
  max-width: var(--site-width);
  height: var(--site-height);
  margin: 0 auto;
  position: relative;
}

.site__content {
  position: relative;
  height: inherit;
  width: inherit;
  z-index: 100;
}

.site__section {
  position: absolute;
  width: 100%;
}

/*
.site__section {
  max-width: 900px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.section__bg {
  position: absolute;
  height: inherit;
  width: inherit;
}

.section__content {
  position: absolute;
  height: inherit;
  top: 0;
  margin: 0 -40px;
  z-index: 200;
  overflow: auto;
}

.site__landing {
  background-color: lightcoral;
  max-width: none;
}

.site__about {

  .section__bg {
    //@include angle(both, true);
    background-color: lightgreen;
  }
}

.site__works {
  @include angle(both);
  background-color: lightcyan;
}

.site__contact {
  @include angle(before, true);
  background-color: lightgoldenrodyellow;
}*/
