body {
  background-color: var(--site-bgColor);
}

.section__title {
  font-size: 3em;
  font-weight: 100;
}

.site__content {
  position: relative;
  background-color: var(--bgColor);
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
}

.section__content {
  position: relative;
}

@include media(">laptop") {

}

@include media(">desktop") {

  .site__content {
    width: 1201px;
  }

  .section__title {
    font-size: 6em;
    height: 100px;
  }
}
