body {
  background-color: var(--site-bgColor);
}

h1, h2, h3 {
  margin: 0;
}

.section__title {
  font-size: 3em;
  font-weight: 100;
}

.site__content {
  position: relative;
  background-color: var(--bgColor);
  width: 98%;
  max-width: 100%;
}

.section__wrapper {
  position: relative;
}

  .section__content {
    width: 100%;
    max-width: var(--site-content-width);
    margin: 0 auto;
  }

@include media(">mobile") {
  .site__content {
    width: 100%;
    margin: 0 auto;
  }

    .section__content {

    }

    .section__title {
      font-size: 4em;
      height: 100px;
    }
}

@include media(">laptop") {

}

@include media(">desktop") {

  .site__content {
    width: 1201px;
  }


}
