.site__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--textWhite);
}

.footer__copyright {
  text-align: center;
  font-style: italic;
  font-size: .5em;
}

@media (min-width: $breakpoint-medium) {

}

@media (min-width: $breakpoint-large) {
  .site__footer {
    width: auto;
    text-align: left;
    bottom: -12px;
    right: -24px;
    transform: rotate(90deg);
    transform-origin: 100% 0;
  }
}