body {
  background: url(../images/background.jpg) no-repeat top center/cover;
  width: 100vw;
  height: 100vh;
}

#site__wrapper {
  background-color: rgba($white, .6);
  max-width: var(--site-width);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

#site__canvas {
  --canvas-top-margin: 43px;

  display: flex;
  background-color: rgba($black, .8);
  position: absolute;
  border-radius: 100px 2px 0 0;
  margin: var(--canvas-top-margin) 2px 0 11px;
  width: calc(100% - 13px);
  height: calc(100% - var(--canvas-top-margin));
}

.content {
  position: relative;
  flex-grow: 1;
  margin: 0 -25px;

  background-color: rgba(gray, .5);
}