.navigation {
  text-transform: uppercase;
  z-index: 1000;
  position: relative;
  right: -20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.menu__icon {
  background-color: currentColor;
}

.menu__icon__profile {
  color: var(--icon-color-profile);
}

.menu__icon__works {
  color: var(--icon-color-works);
}

.menu__icon__contact {
  color: var(--icon-color-contact);
}

.menu__text {
  display: none;
}