<!DOCTYPE html>
<html>
    <head>
    {% include head.html %}
    </head>
    <body class="body">
    {% include icons.svg %}
        <div id="b-site-wrapper">
            {% include header.html %}
            <aside class="b-connect">
                <nav>
                    <ul class="b-social">
                        <li class="b-social__link">
                            <a href="">
                                <svg viewBox="0 0 16 16" class="icon">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-social__link">
                            <a href="">
                                <svg viewBox="0 0 16 16" class="icon">
                                    <use xlink:href="#github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <section class="b-content">
                <section id="about" class="b-content__section">
                    {% include about.html %}
                </section>
                <section id="works" class="b-content__section">
                    {% include works.html %}
                </section>
                <section id="contact" class="b-content__section">
                    {% include contact.html %}
                </section>
            </section>
        </div>
    {% include scripts.html %}
    </body>
</html>
