<!DOCTYPE html>
<html>
    <head>
    {% include head.html %}
    </head>
    <body class="body">
        <div class="hidden">{% include icons.svg %}</div>
        <div id="site__wrapper">
            {% include navigation.html %}
<!--                <header id="site__header">
                    <h1 class="logo">Portfolio Site</h1>
                </header>-->
            <div id="site__canvas">
                <section class="content">
                    <section id="about" class="content__section">
                    </section>
                    <section id="works" class="content__section">
                        {% include works.html %}
                    </section>
                    <section id="contact" class="content__section">
                        {% include contact.html %}
                    </section>
                </section>
            </div>
        </div>
    {% include scripts.html %}
    </body>
</html>
