<!DOCTYPE html>
<html>
    <head>
    {% include head.html %}
    </head>
    <body class="body">
        <div class="hidden">{% include icons.svg %}</div>
        <div id="site-wrapper">
            <header id="site-header">
                <h1 class="logo">Portfolio Site</h1>
                {% include navigation.html %}
            </header>
            <aside class="connect">
                {% include connect.html %}
            </aside>
            <section class="content">
                <section id="about" class="content__section">
                    {% include about.html %}
                </section>
                <section id="works" class="content__section">
                    {% include works.html %}
                </section>
                <section id="contact" class="content__section">
                    {% include contact.html %}
                </section>
            </section>
        </div>
    {% include scripts.html %}
    </body>
</html>
