<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="single__body company__{{ .Slug }}">
        <aside class="single__imagesLeft">
            {{ range $index, $image := .Params.imagesLeft }}
                <img src="{{ . }}" class="image__left" style="animation-delay: calc(({{ $index }} + 1) * .27s);"/>
            {{ end }}
        </aside>

        <secion class="single__content">
            <h1 class="single__title" style="color: {{ .Params.primaryColor }}">{{ .Title }}</h1>
            <h2 class="single__position">{{ .Params.Position }} <small>({{ .Params.Year }})</small></h2>
            <article class="single__article">{{ .Content }}</article>
        </secion>

        {{ if .Params.imagesRight }}
        <aside class="single__imagesRight">
            {{ range $index, $image := .Params.imagesRight }}
            <img src="{{ . }}" class="image__right"/>
            {{ end }}
        </aside>
        {{ end }}
    </body>
</html>
