#site__header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.menu__icon {
  background-color: currentColor;
}

.menu__icon__profile {
  color: var(--icon-color-profile);
}

.menu__icon__works {
  color: var(--icon-color-works);
}

.menu__icon__contact {
  color: var(--icon-color-contact);
}

.menu__text {
  display: none;
}