.navigation {
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 0 12px;
}

.menu__link {
}

.menu__icon {

}