.navigation {
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu__icon {
  background-color: currentColor;
}

.menu__icon__profile {
  color: var(--icon-color-profile);
}

.menu__icon__works {
  color: var(--icon-color-works);
}

.menu__icon__contact {
  color: var(--icon-color-contact);
}

.menu__text {
  display: none;
}