.contact {
  height: var(--contact-height-mobile);
}

  .contact__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--contact-bgColor);
    background: linear-gradient(to top, var(--contact-bgColor), var(--contact-bgColor-secondary));
    clip-path: polygon(0 0, 100% 5%, 100% 5%, 100% 100%, 0% 100%);
    transition: clip-path .2s;
  }


  .contact__title {
    text-align: center;
    color: var(--white);
  }

  .connect__wrapper {
    position: relative;
    height: 100%;
  }

    .contact__links {
      width: 208px;
      margin: 22px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 120px);
      grid-template-areas:
        "contact contact"
        "linkedin github";
    }

      .contact__link {
        cursor: pointer;
        transition: transform .16s linear;
        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(.97);
        }

        .svg {
          width: auto;
          height: 100%;
        }
      }

    .contact__cta {
      grid-area: contact;
      justify-self: center;
      margin-bottom: -30px;
    }

    .contact__linkedin {
      grid-area: linkedin;
    }

    .contact__github {
      grid-area: github;
    }

@include media(">mobile") {
  .contact {
    height: var(--contact-height);
  }

  .contact__bg {
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0% 100%);
  }

  .contact__title {
    color: var(--black);
  }

    .contact__cta {

      &:hover {

      }
    }
}


@include media(">laptop") {
  .contact {
  }
}

@include media(">desktop") {
}