#landing {
  color: var(--textWhite);
  height: calc(var(--landing-height) - 200px);
  top: var(--landing-top);
}

.landing__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.landing__avatar {
  width: 250px;
}

.landingAvatar__image {
  width: 100%;
}