.landing {
  height: 70vh;
  background: var(--landing-bgColor);
  background: linear-gradient(to top, var(--landing-bgColor), var(--landing-bgColor-secondary));
  transition: height .5s ease;
  z-index: 50;
}

  .landing__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
  }

@include media(">laptop") {
  .landing {
    height: var(--landing-height);
  }

    .landing__content {

    }
}

@include media(">desktop") {
}



/*
#landing {
  color: var(--textWhite);
  height: calc(var(--landing-height) - 200px);
  top: var(--landing-top);
}

.landing__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.landing__avatar {
  width: 250px;
}

.landingAvatar__image {
  width: 100%;
}*/
