@keyframes galleryLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.single__iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
}

.single__body {
  display: flex;
  flex-direction: row;
}

  .single__imagesLeft {
    display: none;
  }

    .image__left {
      animation: .37s ease-out .3s 1 galleryLoad forwards;
      opacity: 0;
      transform: translate(50px, 0);
      margin: 4px 0;
      max-width: 200px;
      -webkit-mask-image: linear-gradient(to right, rgba(#000, 0.65) 0, rgba(#000, 0.65) 50%, rgba(#000, 1) 50%, rgba(#000, 1) 100%);
    }

  .single__content {
    padding: 0 16px;

    img {
      display: block;
      margin: auto;
    }
  }

    .single__title,
    .single__position {
      overflow: hidden;
      white-space: nowrap;
      width: 0;
    }

    .single__title {
      animation: 2s steps(60, end) .35s 1 typing forwards;
    }

    .single__position {
      font-size: 1em;
      animation: 2s steps(60, end) .55s 1 typing forwards;

      small {
        text-align: right;
      }
    }

    .single__article {
      opacity: 0;
      transform: translate(0, 10px);
      animation: .65s .6s 1 fadeIn forwards;

      img {
        width: 100%;
        max-width: 600px;
      }

      .single__embed {
        width: 100%;
        max-width: 600px;
      }
    }

@include media(">mobile") {
  .single__imagesLeft {
    display: block;
  }
    .single__position {
      font-size: 1.5em;
    }
}

@include media(">laptop") {
  .single__iframe {
    width: calc(100% + 100px + var(--scrollbar-baseUnit) + 4px);
    margin-left: -100px;
  }

  .single__imagesLeft {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@supports (-ms-ime-align:auto) {
  .single__imagesLeft {
    min-width: auto;
  }
}