.works {
  height: var(--works-height);
  transition: height .5s ease;
  z-index: 110;
}

  .works__bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

@include media(">mobile") {

  .works {
    margin-top: calc(var(--about-height) * var(--about-slant) * -1);
  }

    .works__bg {
      background-color: var(--works-bgColor);
      clip-path: polygon(0 10%, 100% 18.5%, 100% 55%, 0% 75%);
    }

      .works__title {
        background-image: linear-gradient(5deg, #000000 0%, #000000 43.5%, #ffffff 43.5%, #ffffff 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }

      .works__description {
        text-align: center;
      }
}

@include media(">laptop") {
  .works {
    //margin-top: calc(var(--about-height) * .6 * -1);

  }
}

@include media(">desktop") {
}


/*
#works {
  color: var(--textWhite);
  height: var(--works-height);
  top: var(--works-top);
}

.works__title {
  position: relative;
  text-align: center;
  color: var(--black);

  &:before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    color: var(--white);
    clip-path: polygon(10% 0, 100% 165%, 100% 0);
  }
}

.works__content {
  position: relative;
  text-align: center;
  color: var(--black);
  &:before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: var(--white);
    clip-path: polygon(81% 0, 100% 0%, 100% 100%, 93% 100%);
  }
}

.works__shape {

  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  width: 415px;
  height: inherit;
  float: left;

}*/
