.works {
  height: 90vh;
  background: var(--works-bgColor);
  transition: height .5s ease;
  z-index: 80;
}

@include media(">laptop") {
  .works {
    margin-top: calc(var(--about-height) * .6 * -1);
    height: var(--works-height);
  }
}

@include media(">desktop") {
}


/*
#works {
  color: var(--textWhite);
  height: var(--works-height);
  top: var(--works-top);
}

.works__title {
  position: relative;
  text-align: center;
  color: var(--black);

  &:before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    color: var(--white);
    clip-path: polygon(10% 0, 100% 165%, 100% 0);
  }
}

.works__content {
  position: relative;
  text-align: center;
  color: var(--black);
  &:before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: var(--white);
    clip-path: polygon(81% 0, 100% 0%, 100% 100%, 93% 100%);
  }
}

.works__shape {

  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  width: 415px;
  height: inherit;
  float: left;

}*/
