.works {
  transition: height .5s ease;
  z-index: 110;
}

  .works__bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: $worksBgColor;
    clip-path: polygon(0 10%, 100% 25%, 100% 70%, 0% 85%);
    transition: clip-path .2s;
  }

  .works__timeline {
    position: relative;
    width: 100%;
  }

  .timeline__bg {
    display: none;
  }

  .timeline__content {
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: 75px 1fr;
    grid-template-rows: repeat(4, 75px);
    grid-template-areas:
            "ibm content-ibm"
            "synth content-synth"
            "live-nation content-live-nation"
            "evolve-media content-evolve-media";

    .svg__synth {
      grid-area: synth;
    }

    .company__synth {
      grid-area: content-synth;
      text-align: left;
    }

    .svg__ibm {
      grid-area: ibm;
    }

    .company__ibm {
      grid-area: content-ibm;
    }

    .svg__livenation {
      grid-area: live-nation;
    }

    .company__livenation {
      grid-area: content-live-nation;
    }

    .svg__evolve {
      grid-area: evolve-media;
    }

    .company__evolve {
      grid-area: content-evolve-media;
    }
  }

    .timeline__item__svg {

      width: 75px;
      cursor: pointer;

      .svg__logo {
        transition: fill $worksTransitionDuration;
      }

      .svg__hover {
        transform-origin: 50% 50%;
        transform: scale(0);
        transition: transform $worksTransitionDuration;
      }

      &:hover {
        .svg__hover {
          transform: scale(1.17);
        }
      }

      &:active {
        .svg__hover {
          transform: scale(1);
        }
      }
    }

    .svg__synth:hover {
      .svg__logo {
        fill: $colorWhite;
      }
    }

    .svg__evolve:hover {
      .logo__evolve--evolve,
      .logo__evolve--slash,
      .logo__evolve--media {
        fill: $colorWhite;
      }
    }

    .svg__livenation:hover {
      .svg__logo {
        & > circle,
        & > path {
          fill: $colorWhite;
        }
      }
    }

    .svg__ibm:hover {
      .svg__logo {
        fill: $colorWhite;
      }
    }

  .company__content {
    font-size: .9em;
    padding: 0 8px;
    text-align: left;
    align-self: center;

    p {
      margin: 0;
    }
  }

    .company__title {
      font-size: 1.2em;
    }

    .company__meta {
      font-size: .8em;
    }


.company__post {
  width: inherit;
  height: inherit;
  background-color: $colorWhite;
  padding: 0 50px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
}

@media (min-width: $breakpoint-mobile) {

  .works {
    height: $worksHeight;
    margin-top: -110px;
  }

  .works__bg {
    background-color: $worksBgColor;
    clip-path: polygon(0 10%, 100% 15%, 100% 70%, 0% 75%);
  }

  .works__title {
    background-image: linear-gradient(3deg, #000000 0%, #000000 42%, #ffffff 42%, #ffffff 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .works__description {
    position: relative;
    z-index: 100;
    text-align: center;
  }

  .works__timeline {
    width: 525px;
    margin: -200px auto 0;
  }

  .timeline__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    clip-path: polygon(0 6.4%, 100% 10%, 100% 100%, 0 100%);
  }

  .timeline__content {
    position: absolute;
    top: 410px;
    left: -60px;
    width: 635px;
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: 145px 1fr 145px;
    grid-template-rows: 1fr 1fr 1fr .7fr 1fr;
    grid-template-areas: ". content-ibm ibm" "synth content-synth ." ". content-live-nation live-nation" ". . ." ". content-evolve-media evolve-media";
    .svg {
      width: 145px;
    }
  }

  .company__content {
    text-align: right;
    align-self: center;
  }

    .company__title {
      font-size: initial;
    }

    .company__meta {
      font-size: initial;
    }
}

@supports (-ms-ime-align:auto) {

  .works {
    height: 1280px;
    margin-top: -30px;
  }

    .works__bg {
      top: 55px;
      transform: skew(0, 3.5deg);
    }

  .timeline__content {
    height: 800px;
    top: 375px;

    .timeline__item__svg {
      .svg__hover {
        opacity: 0;
        transition: opacity .2s linear;
      }

      &:hover {
        .svg__hover {
          opacity: 1;
        }
      }
    }

    .timeline__item__svg,
    .company__content {
      position: absolute;
    }

    .company__content {
      right: 140px;
    }

    .svg__synth {
      top: 150px;
      left: 0;
    }

      .company__synth {
        top: 180px;
        left: 140px;
        right: auto;
      }

    .svg__ibm {
      top: 20px;
      right: 0;
    }

      .company__ibm {
        top: 50px;
      }

    .svg__livenation {
      right: 0;
      top: 300px;
    }

      .company__livenation {
        top: 330px;
      }

    .svg__evolve {
      right: 0;
      bottom: 100px;
    }

      .company__evolve {
        bottom: 130px;
      }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .works {
    height: auto;
    margin: 0;
  }

    .works__title {
      background: transparent;
      color: black;
    }

    .works__timeline {
      margin: 0 auto;
    }

      .timeline__bg {
        display: none;
      }

      .timeline__content {
        position: relative;
        top: auto;
        left: auto;
        width: 900px;
        display: block;
        margin: 0 auto;

        .svg {
          display: block;
        }

        .company__content {
          position: absolute;
          left: 150px;
          text-align: left;
        }
      }

      .timeline__item__svg {
        .svg__hover {
          opacity: 0;
        }
      }

        .company__synth {
          top: 40px;
        }

        .company__ibm {
          top: 190px;
        }

        .company__livenation {
          top: 340px;
        }

        .company__evolve {
          top: 490px;
        }
}