<svg class="landing__bg landing__bg--mobile">
    <line class="" x1="70%" y1="100%" x2="100%" y2="70%"/>
</svg>

<section id="landing" class="site__landing site__section">
<!--    <div class="landing__wrapper">
        <div class="landing__avatar">
            <img class="landingAvatar__image" src="/assets/images/landing-temp.png"/>
        </div>
        <div class="landing__content">
            <h1 class="landingContent__name">Serena Young</h1>
            <span class="landingContent__headline">Web Developer | Software Engineer</span>
        </div>
    </div>-->

</section>