<aside id="work__modal" class="work__modal modal avgrund-popup">
    <div class="modal__bg__base"></div>
    <div class="modal__bg"></div>
    <button class="modal__close"><span class="modal__close__text">x</span></button>
    <iframe id="work__modal__iframe" class="modal__iframe single__iframe"></iframe>
</aside>
<aside id="contact__modal" class="contact__modal modal avgrund-popup">
    <button class="modal__close"><span class="modal__close__text">x</span></button>
    <iframe id="contact__modal__iframe" class="modal__iframe" src="{{ .Site.Params.contact.url }}"></iframe>
</aside>
<div class="avgrund-cover"></div>