<div class="works__bg"></div>
<div class="works__content section__content">
    {{ range where .Site.Pages "Type" "=" "works" }}
    <h1 class="section__title works__title">{{ .Title }}</h1>
    <article class="works__description">
        {{ .Content }}
    </article>
    {{ end }}
    <div class="works__timeline">
        <div class="timeline__bg">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 1041">
                <title>works-timeline</title>
                <path d="M560.05,780c-2,103-185,38-185,142" transform="translate(-177.05)" style="fill: none;stroke: #163656;stroke-miterlimit: 10;stroke-width: 20px"/>
                <path d="M187.05,111c0,123,373,65,373,200" transform="translate(-177.05)" style="fill: none;stroke: #4c81c2;stroke-miterlimit: 10;stroke-width: 20px"/>
                <path d="M187.05,0V776c0,107,188,49,188,146" transform="translate(-177.05)" style="fill: none;stroke: #fa8b08;stroke-miterlimit: 10;stroke-width: 20px"/>
                <line x1="383" y1="591" x2="383" y2="401" style="fill: none;stroke: #e31b25;stroke-miterlimit: 10;stroke-width: 20px"/>
                <line x1="383" y1="780" x2="383" y2="591" style="fill: none;stroke: #163656;stroke-miterlimit: 10;stroke-width: 20px"/>
                <line x1="198" y1="922" x2="198" y2="1002" style="fill: none;stroke: #fa8b08;stroke-miterlimit: 10;stroke-width: 20px"/>
                <polygon points="198.32 1040.65 223.32 997.35 173.32 997.35 198.32 1040.65" style="fill: #fa8b08"/>
                <line x1="383" y1="401" x2="383" y2="311" style="fill: none;stroke: #4c81c2;stroke-miterlimit: 10;stroke-width: 20px"/>
            </svg>
        </div>
        <section class="timeline__content">
            <svg class="svg timeline__item__svg svg__synth" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 110 110" xml:space="preserve">
                <circle class="svg__border" fill="#ffffff" cx="55" cy="55" r="45.7" stroke-width="5px" stroke="#FA8B08"/>
                <circle class="svg__hover" fill="#FA8B08" cx="55" cy="55" r="45.7"/>
                <g class="svg__logo" fill="#FA8B08">
                    <path d="M62.1,84.7c7.7,0,13.9-6.2,13.9-13.9S69.8,57,62.1,57h-14c-9.8,0.1-17.9-7.7-18-17.5
		c-0.1-4.8,1.8-9.4,5.3-12.8c3.3-3.4,7.9-5.3,12.7-5.3h29.4v3.9l-29.4,0.1c-7.6-0.1-13.9,6-14,13.6c0,3.8,1.4,7.4,4.1,10
		c2.6,2.7,6.1,4.2,9.8,4.1h14c9.8,0,17.8,8,17.8,17.8s-8,17.8-17.8,17.8H30.2v-4L62.1,84.7z"/>
                    <path d="M53.7,24.3H62c0,0-13.3,6.2-14.2,15.4c0,0-1.4,9.8,3.3,13.9h-2.7C48.4,53.6,38.8,36.6,53.7,24.3z"/>
                    <path d="M55.6,85.6h-8.3c0,0,13.3-6.2,14.2-15.4c0,0,1.4-9.8-3.3-13.9h2.7C60.9,56.3,70.5,73.3,55.6,85.6z"/>
                </g>
            </svg>
            <svg class="svg timeline__item__svg svg__ibm" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 110 110" xml:space="preserve">
                <circle class="svg__border" fill="#ffffff" cx="55" cy="55" r="45.7" stroke-width="5px" stroke="#4C81C2"/>
                <circle class="svg__hover" fill="#4C81C2" cx="55" cy="55" r="45.7"/>
                <g class="svg__logo" fill="#4C81C2">
                    <polygon points="92.1,42.4 80.1,42.4 80.8,40.3 92.1,40.3 	"/>
                    <path d="M59.9,40.3h11.2l0.7,2.1H59.9V40.3z"/>
                    <path d="M51,40.3c1.8,0.1,3.5,0.9,4.8,2.1H35.6v-2.1H51z"/>
                    <rect x="19.7" y="40.3" width="14.1" height="2.1"/>
                    <path d="M26.7,41.4"/>
                    <polygon points="92.1,46.3 78.7,46.3 79.4,44.3 92.1,44.3 	"/>
                    <polygon points="73.3,46.3 60,46.3 60,44.3 72.6,44.3 	"/>
                    <path d="M57.4,44.3c0.3,0.7,0.5,1.4,0.6,2.1H35.6v-2.1H57.4z"/>
                    <rect x="19.7" y="44.3" width="14.1" height="2.1"/>
                    <path d="M26.7,45.3"/>
                    <polygon points="77.3,50.2 78.1,48.2 88.1,48.2 88.1,50.2 	"/>
                    <polygon points="73.9,48.2 74.7,50.2 63.9,50.2 63.9,48.2 	"/>
                    <path d="M58.2,48.2c0,0.7-0.1,1.4-0.3,2.1h-6.2v-2.1H58.2z"/>
                    <rect x="23.6" y="48.2" width="6.1" height="2.1"/>
                    <path d="M26.6,49.2"/>
                    <rect x="39.7" y="48.2" width="6.1" height="2.1"/>
                    <path d="M42.7,49.2"/>
                    <path d="M69.9,52.5v1.6h-6V52h11.4l0.7,1.9l0.7-1.9h11.4v2.1h-5.9v-1.6l-0.5,1.6H70.4L69.9,52.5z"/>
                    <path d="M39.6,52H57c-0.4,0.8-1,1.5-1.7,2.1H39.6V52z"/>
                    <rect x="23.6" y="52" width="6.1" height="2.1"/>
                    <path d="M26.6,53"/>
                    <rect x="82.2" y="55.9" width="5.9" height="2.1"/>
                    <path d="M85.1,56.9"/>
                    <path d="M69.9,55.9h-6V58h6V55.9z"/>
                    <path d="M81,55.9L80.3,58h-8.4l-0.7-2.1H81z"/>
                    <path d="M39.6,55.9h15.6c0.7,0.6,1.4,1.3,1.9,2.1H39.6V55.9z"/>
                    <polygon points="29.7,58 29.7,55.9 23.6,55.9 23.6,58 	"/>
                    <rect x="82.2" y="59.8" width="5.9" height="2.1"/>
                    <path d="M85.1,60.8"/>
                    <rect x="63.9" y="59.8" width="6" height="2.1"/>
                    <path d="M66.9,60.8"/>
                    <path d="M78.9,61.9l0.7-2.1h-7.2l0.7,2.1H78.9z"/>
                    <path d="M39.6,61.9v-2.1h6.1v2.1H39.6z"/>
                    <path d="M58,59.8c0.3,0.7,0.4,1.4,0.4,2.1h-6.5v-2.1H58z"/>
                    <rect x="23.6" y="59.8" width="6.1" height="2.1"/>
                    <path d="M26.6,60.8"/>
                    <rect x="82.2" y="63.6" width="9.9" height="2.1"/>
                    <path d="M87.1,64.6"/>
                    <rect x="60" y="63.6" width="9.9" height="2.1"/>
                    <path d="M64.9,64.6"/>
                    <polygon points="77.6,65.7 74.5,65.7 73.8,63.6 78.3,63.6 	"/>
                    <path d="M19.6,63.6v2.1h14.1v-2.1H19.6z"/>
                    <path d="M58.1,63.6c-0.1,0.8-0.4,1.5-0.8,2.1H35.6v-2.1H58.1z"/>
                    <polygon points="76.2,69.6 75.9,69.6 75.2,67.5 76.9,67.5 	"/>
                    <rect x="82.2" y="67.5" width="9.9" height="2.1"/>
                    <path d="M87.1,68.6"/>
                    <path d="M35.6,69.6v-2.1H56c-1.4,1.4-3.3,2.1-5.3,2.1H35.6"/>
                    <rect x="60" y="67.5" width="9.9" height="2.1"/>
                    <path d="M64.9,68.6"/>
                    <path d="M33.7,67.5v2.1H19.6v-2.1H33.7z"/>
                </g>
            </svg>
            <svg class="svg timeline__item__svg svg__livenation" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 110 110" xml:space="preserve">
                <circle class="svg__border" fill="#ffffff" cx="55" cy="55" r="45.7" stroke-width="5px" stroke="#e31b25"/>
                <circle class="svg__hover" fill="#e31b25" cx="55" cy="55" r="45.7"/>
                <g class="svg__logo">
                    <path fill="#241E20" d="M34,51.9c0,0,1.6,10.4,8.3,10.8c0,0-0.2,21.2,10.2,34.3c0,0-11.1-13.8-13.3-28.6 C35.2,63.9,33.3,57.9,34,51.9z"/>
                    <path fill="#241E20" d="M56.3,32.9"/>
                    <path fill="#241E20" d="M56.3,32.9c-11,12.2-15.8,42.3-1.6,63.7C48.2,82.3,44.3,54,70,50.5c6.9-4.2,10.7-18.4,0.3-28 C70.4,27.8,66.9,35.1,56.3,32.9z"/>
                    <circle fill="#019CE5" cx="41.2" cy="54.9" r="2.2"/>
                    <circle fill="#54B84A" cx="41" cy="44.2" r="4.2"/>
                    <circle fill="#FEDB01" cx="46.4" cy="32.2" r="5.5"/>
                    <circle fill="#E31B25" cx="59.3" cy="21.7" r="7.4"/>
                </g>
            </svg>
            <svg class="svg timeline__item__svg svg__evolve" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 110 110" xml:space="preserve">
                <circle class="svg__border" fill="#ffffff" cx="55" cy="55" r="45.7" stroke-width="5px" stroke="#163656"/>
                <circle class="svg__hover" fill="#163656" cx="55" cy="55" r="45.7"/>
                <g class="svg__logo">
                    <g class="logo__evolve--media" fill="#4D4D4D">
                        <polygon points="66.5,57.2 64,51 61.8,59.3 62.7,59.3 64.1,53.8 66.5,59.5 68.9,53.9 70.3,59.3 71.3,59.3 69.1,51
                "/>
                        <polygon points="72.8,59.3 77.1,59.3 77.1,58.4 73.7,58.4 73.7,55.4 77.1,55.4 77.1,54.4 73.7,54.4 73.7,52.2
        77.1,52.2 77.1,51.3 72.8,51.3 		"/>
                        <path d="M80.9,51.3H79v8h1.9c1.3,0.1,2.5-0.3,3.4-1.2c0.8-0.7,1.2-1.7,1.2-2.8c0-1-0.4-2-1.1-2.8
        C83.5,51.6,82.3,51.2,80.9,51.3 M80.1,52.2h0.6c0.7,0,1.4,0.1,2,0.3c0.5,0.2,1,0.6,1.3,1.1c0.4,0.5,0.5,1.2,0.5,1.8
        c0,0.5-0.1,1-0.3,1.4c-0.2,0.4-0.5,0.7-0.9,1c-0.4,0.2-0.8,0.4-1.2,0.5h-2C80.1,58.3,80.1,52.2,80.1,52.2z"/>
                        <rect x="87" y="51.3" width="0.9" height="8"/>
                        <path d="M93.2,51l-3.8,8.3h1l1-2.1H95l1,2.1h1L93.2,51z M94.7,56.4h-2.9l1.5-3.2L94.7,56.4z"/>
                    </g>
                    <g class="logo__evolve--evolve">
                        <polygon points="14.3,51.3 18.8,51.3 18.8,52.4 15.4,52.4 15.4,54.4 18.8,54.4 18.8,55.5 15.4,55.5 15.4,58.2 18.8,58.2
        18.8,59.3 14.3,59.3"/>
                        <polygon points="19.8,51.3 20.9,51.3 23.5,57 26,51.3 27.2,51.3 23.4,59.6 		"/>
                        <path d="M27.1,55.3c0-1.1,0.5-2.2,1.3-3c0.8-0.9,2-1.3,3.2-1.3c1.2,0,2.3,0.5,3.1,1.3c0.8,0.8,1.3,1.9,1.3,3
        c0,1.2-0.4,2.3-1.3,3.1c-1.7,1.7-4.6,1.7-6.3,0C27.5,57.6,27.1,56.5,27.1,55.3 M34.8,55.4c0-0.8-0.4-1.6-1-2.2
        c-0.6-0.6-1.5-0.9-2.4-0.9c-0.9,0-1.7,0.3-2.3,0.9c-0.6,0.6-0.9,1.4-0.9,2.2c0,0.8,0.4,1.6,1,2.2c0.7,0.6,1.5,0.9,2.4,0.9
        c0.8,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.4,0.9-2.2"/>
                        <polygon points="37.3,51.3 38.3,51.3 38.3,58.2 41,58.2 41,59.3 37.3,59.3 		"/>
                        <polygon points="40.7,51.3 41.8,51.3 44.4,57 46.9,51.3 48.1,51.3 44.4,59.6 		"/>
                        <polygon points="53.7,58.2 53.7,58.2 50.3,58.2 50.3,55.5 53.7,55.5 53.7,54.4 50.3,54.4 50.3,52.4 53.7,52.4 53.7,51.3
        49.2,51.3 49.2,59.3 53.4,59.3 		"/>
                    </g>
                    <polygon class="logo__evolve--slash" fill="#163656" points="58.3,61.5 55.1,61.5 58.4,48.7 61.6,48.7 	"/>
                </g>
            </svg>
            {{ range where .Site.Pages "Type" "=" "companies" }}
            <div class="company__content company__{{ .Slug }}">
                <h2 class="company__title">{{ .Title }}</h2>
                <ul class="company__meta list--nostyle">
                    <li><em>{{ .Params.year }}</em></li>
                    <li><strong>{{ .Params.position }}</strong></li>
                </ul>
                <article id="company__{{ .Slug }}" class="company__description hidden">
                    <h1 class="">{{ .Title }}</h1>
                    {{ .Content }}
                </article>
            </div>
            {{ end }}
        </section>
    </div>


</div>