<div class="works__bg"></div>
<div class="works__content section__content">
    {{ range where .Site.Pages "Type" "=" "works" }}
    <h1 class="section__title works__title">{{ .Title }}</h1>
    <article class="works__description">
        {{ .Content }}
    </article>
    {{ end }}
    <div class="works__timeline">
        <div class="timeline__bg">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 1041">
                <title>works-timeline</title>
                <path d="M560.05,780c-2,103-185,38-185,142" transform="translate(-177.05)" style="fill: none;stroke: #163656;stroke-miterlimit: 10;stroke-width: 20px"/>
                <path d="M187.05,111c0,123,373,65,373,200" transform="translate(-177.05)" style="fill: none;stroke: #4c81c2;stroke-miterlimit: 10;stroke-width: 20px"/>
                <path d="M187.05,0V776c0,107,188,49,188,146" transform="translate(-177.05)" style="fill: none;stroke: #fa8b08;stroke-miterlimit: 10;stroke-width: 20px"/>
                <line x1="383" y1="591" x2="383" y2="401" style="fill: none;stroke: #e31b25;stroke-miterlimit: 10;stroke-width: 20px"/>
                <line x1="383" y1="780" x2="383" y2="591" style="fill: none;stroke: #163656;stroke-miterlimit: 10;stroke-width: 20px"/>
                <line x1="198" y1="922" x2="198" y2="1002" style="fill: none;stroke: #fa8b08;stroke-miterlimit: 10;stroke-width: 20px"/>
                <polygon points="198.32 1040.65 223.32 997.35 173.32 997.35 198.32 1040.65" style="fill: #fa8b08"/>
                <line x1="383" y1="401" x2="383" y2="311" style="fill: none;stroke: #4c81c2;stroke-miterlimit: 10;stroke-width: 20px"/>
            </svg>
        </div>
        <section class="timeline__content">
            <svg class="svg svg__synth" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <title>Synth Venture</title>
                <g class="svg__border">
                    <path fill="#ffffff" d="M100.05,145a45,45,0,1,1,45-45A45.05,45.05,0,0,1,100.05,145Z" transform="translate(-50.05 -50)"/>
                    <path fill="#fa8b08" d="M100.1,55a45,45,0,1,1-45,45,45.1,45.1,0,0,1,45-45m0-5a50,50,0,1,0,50,50,50,50,0,0,0-50-50Z" transform="translate(-50.1 -50)"/>
                </g>
                <g class="svg__logo" fill="#fa8b08">
                    <path d="M108.1,129.37a13.86,13.86,0,0,0,0-27.73h-14A17.76,17.76,0,0,1,81.37,71.27,17.28,17.28,0,0,1,94.06,66h29.41l0,3.94L94.06,70a13.79,13.79,0,0,0-9.85,23.61,13.42,13.42,0,0,0,9.85,4.12h14a17.82,17.82,0,1,1,0,35.65H76.19v-4Z" transform="translate(-50.05 -50)"/>
                    <path d="M99.74,69H108s-13.3,6.18-14.24,15.38c0,0-1.39,9.81,3.31,13.91H94.41S84.82,81.29,99.74,69Z" transform="translate(-50.05 -50)"/>
                    <path d="M101.57,130.31H93.29s13.3-6.18,14.24-15.38c0,0,1.39-9.81-3.31-13.91h2.69S116.49,118,101.57,130.31Z" transform="translate(-50.05 -50)"/>
                </g>
                <circle class="svg__hover" fill="#fa8b08" cx="50.33" cy="50.33" r="45.67"/>
            </svg>
            <svg class="svg svg__ibm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <title>IBM</title>
                <g class="svg__border">
                    <path fill="#ffffff" d="M100.1,145a45,45,0,1,1,45-45A45.1,45.1,0,0,1,100.1,145Z" transform="translate(-50.1 -50)"/>
                    <path fill="#4c81c2" d="M100.1,55a45,45,0,1,1-45,45,45.1,45.1,0,0,1,45-45m0-5a50,50,0,1,0,50,50,50,50,0,0,0-50-50Z" transform="translate(-50.1 -50)"/>
                </g>
                <g class="svg__logo" fill="#4c81c2">
                    <polygon points="87.1 37.4 75.1 37.4 75.8 35.3 87.1 35.3 87.1 37.4"/>
                    <path d="M105,85.3h11.2l.7,2.1H105Z" transform="translate(-50.1 -50)"/>
                    <path d="M96.1,85.3a8.1,8.1,0,0,1,4.8,2.1H80.7V85.3Z" transform="translate(-50.1 -50)"/>
                    <g>
                        <rect x="14.7" y="35.3" width="14.1" height="2.08"/>
                        <path d="M71.8,86.4" transform="translate(-50.1 -50)"/>
                    </g>
                    <polygon points="87.1 41.3 73.7 41.3 74.4 39.3 87.1 39.3 87.1 41.3"/>
                    <polygon points="68.3 41.3 55 41.3 55 39.3 67.6 39.3 68.3 41.3"/>
                    <path d="M102.5,89.3a5.4,5.4,0,0,1,.6,2.1H80.7V89.3Z" transform="translate(-50.1 -50)"/>
                    <g>
                        <rect x="14.7" y="39.3" width="14.1" height="2.07"/>
                        <path d="M71.8,90.3" transform="translate(-50.1 -50)"/>
                    </g>
                    <polygon points="72.3 45.2 73.1 43.2 83.1 43.2 83.1 45.2 72.3 45.2"/>
                    <polygon points="68.9 43.2 69.7 45.2 58.9 45.2 58.9 43.2 68.9 43.2"/>
                    <path d="M103.3,93.2a6.8,6.8,0,0,1-.3,2.1H96.8V93.2Z" transform="translate(-50.1 -50)"/>
                    <g>
                        <rect x="18.6" y="43.2" width="6.1" height="2.07"/>
                        <path d="M71.7,94.2" transform="translate(-50.1 -50)"/>
                    </g>
                    <g>
                        <rect x="34.7" y="43.2" width="6.1" height="2.08"/>
                        <path d="M87.8,94.2" transform="translate(-50.1 -50)"/>
                    </g>
                    <path d="M115,97.5v1.6h-6V97h11.4l.7,1.9.7-1.9h11.4v2.1h-5.9V97.5l-.5,1.6H115.5Z" transform="translate(-50.1 -50)"/>
                    <path d="M84.7,97h17.4a7.8,7.8,0,0,1-1.7,2.1H84.7Z" transform="translate(-50.1 -50)"/>
                    <g>
                        <rect x="18.6" y="47" width="6.1" height="2.07"/>
                        <path d="M71.7,98" transform="translate(-50.1 -50)"/>
                    </g>
                    <g>
                        <rect x="77.2" y="50.9" width="5.9" height="2.07"/>
                        <path d="M130.2,101.9" transform="translate(-50.1 -50)"/>
                    </g>
                    <path d="M115,100.9h-6V103h6S115,100.9,115,100.9Z" transform="translate(-50.1 -50)"/>
                    <path d="M126.1,100.9l-.7,2.1h-8.4l-.7-2.1Z" transform="translate(-50.1 -50)"/>
                    <path d="M84.7,100.9h15.6a10.2,10.2,0,0,1,1.9,2.1H84.7Z" transform="translate(-50.1 -50)"/>
                    <polygon points="24.7 53 24.7 50.9 18.6 50.9 18.6 53 24.7 53"/>
                    <g>
                        <rect x="77.2" y="54.8" width="5.9" height="2.07"/>
                        <path d="M130.2,105.8" transform="translate(-50.1 -50)"/>
                    </g>
                    <g>
                        <rect x="58.9" y="54.8" width="6" height="2.07"/>
                        <path d="M112,105.8" transform="translate(-50.1 -50)"/>
                    </g>
                    <path d="M124,106.9l.7-2.1h-7.2l.7,2.1Z" transform="translate(-50.1 -50)"/>
                    <path d="M84.7,106.9s0-2.1,0-2.1h6.1s0,2.1,0,2.1Z" transform="translate(-50.1 -50)"/>
                    <path d="M103.1,104.8a6,6,0,0,1,.4,2.1H97v-2.1Z" transform="translate(-50.1 -50)"/>
                    <g>
                        <rect x="18.6" y="54.8" width="6.1" height="2.07"/>
                        <path d="M71.7,105.8" transform="translate(-50.1 -50)"/>
                    </g>
                    <g>
                        <rect x="77.2" y="58.6" width="9.9" height="2.07"/>
                        <path d="M132.2,109.6" transform="translate(-50.1 -50)"/>
                    </g>
                    <g>
                        <rect x="55" y="58.6" width="9.9" height="2.07"/>
                        <path d="M110,109.6" transform="translate(-50.1 -50)"/>
                    </g>
                    <polygon points="72.6 60.7 69.5 60.7 68.8 58.6 73.3 58.6 72.6 60.7"/>
                    <path d="M64.7,108.6v2.1H78.8s0-2.1,0-2.1Z" transform="translate(-50.1 -50)"/>
                    <path d="M103.2,108.6a4.4,4.4,0,0,1-.8,2.1H80.7v-2.1Z" transform="translate(-50.1 -50)"/>
                    <polygon points="71.2 64.6 70.9 64.6 70.2 62.5 71.9 62.5 71.2 64.6"/>
                    <g>
                        <rect x="77.2" y="62.5" width="9.9" height="2.08"/>
                        <path d="M132.2,113.6" transform="translate(-50.1 -50)"/>
                    </g>
                    <path d="M80.7,114.6v-2.1h20.4a7.7,7.7,0,0,1-5.3,2.1H80.7" transform="translate(-50.1 -50)"/>
                    <g>
                        <rect x="55" y="62.5" width="9.9" height="2.08"/>
                        <path d="M110,113.6" transform="translate(-50.1 -50)"/>
                    </g>
                    <path d="M78.8,112.5s0,2.1,0,2.1H64.7v-2.1Z" transform="translate(-50.1 -50)"/>
                </g>
                <circle class="svg__hover" fill="#4c81c2" cx="49.7" cy="49.7" r="45.7"/>
            </svg>
            <svg class="svg svg__livenation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110">
                <title>Live Nation</title>
                <g class="svg__border">
                    <path d="M100.1,150a50,50,0,1,1,50-50,50,50,0,0,1-50,50" transform="translate(-45.1 -45)" fill="#ffffff"/>
                    <path d="M100.1,55a45,45,0,1,1-45,45,45.1,45.1,0,0,1,45-45m0-5a50,50,0,1,0,50,50,50,50,0,0,0-50-50Z" transform="translate(-45.1 -45)" fill="#e31b25"/>
                </g>
                <g class="svg__logo">
                    <path d="M79.1,96.9s1.6,10.4,8.3,10.8c0,0-.2,21.2,10.2,34.3,0,0-11.1-13.8-13.3-28.6A21.2,21.2,0,0,1,79.1,96.9Z" transform="translate(-45.1 -45)" fill="#241e20"/>
                    <path d="M101.4,77.9" transform="translate(-45.1 -45)" fill="#241e20"/>
                    <path d="M101.4,77.9c-11,12.2-15.8,42.3-1.6,63.7C93.3,127.3,89.4,99,115.1,95.5c6.9-4.2,10.7-18.4.3-28C115.5,72.8,112,80.1,101.4,77.9Z" transform="translate(-45.1 -45)" fill="#241e20"/>
                    <circle cx="41.2" cy="54.9" r="2.2" fill="#019ce5"/>
                    <circle cx="41" cy="44.2" r="4.2" fill="#54b84a"/>
                    <circle cx="46.4" cy="32.2" r="5.5" fill="#fedb01"/>
                    <circle cx="59.3" cy="21.7" r="7.4" fill="#e31b25"/>
                </g>
                <circle class="svg__hover" cx="54.7" cy="54.7" r="45.7" fill="#e31b25"/>
            </svg>
            <svg class="svg svg__evolve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <title>Evolve Media</title>
                <g class="svg__border">
                    <path d="M100.1,145a45,45,0,1,1,45-45A45.1,45.1,0,0,1,100.1,145Z" transform="translate(-50.1 -50)" style="fill: #fff"/>
                    <path d="M100.1,55a45,45,0,1,1-45,45,45.1,45.1,0,0,1,45-45m0-5a50,50,0,1,0,50,50,50,50,0,0,0-50-50Z" transform="translate(-50.1 -50)" style="fill: #163656"/>
                </g>
                <g class="svg__logo">
                    <g fill="#4d4d4d">
                        <polygon points="61.5 52.2 59 46 56.8 54.3 57.7 54.3 59.1 48.8 61.5 54.5 63.9 48.9 65.3 54.3 66.3 54.3 64.1 46 61.5 52.2"/>
                        <polygon points="67.8 54.3 72.1 54.3 72.1 53.4 68.7 53.4 68.7 50.4 72.1 50.4 72.1 49.4 68.7 49.4 68.7 47.2 72.1 47.2 72.1 46.3 67.8 46.3 67.8 54.3"/>
                        <path d="M126,96.3h-1.9v8H126a4.5,4.5,0,0,0,3.4-1.2,3.9,3.9,0,0,0,1.2-2.8,4,4,0,0,0-1.1-2.8,4.5,4.5,0,0,0-3.4-1.2m-.9.9h.6a6.2,6.2,0,0,1,2,.3,2.7,2.7,0,0,1,1.3,1.1,3,3,0,0,1,.5,1.8,3,3,0,0,1-.3,1.4,2.8,2.8,0,0,1-.9,1,3.2,3.2,0,0,1-1.2.5h-2V97.2Z" transform="translate(-50.1 -50)"/>
                        <rect x="82" y="46.3" width="0.9" height="8.02"/>
                        <path d="M138.3,96l-3.8,8.3h1l1-2.1h3.6l1,2.1h1Zm1.5,5.4h-2.9l1.5-3.2Z" transform="translate(-50.1 -50)"/>
                    </g>
                    <g>
                        <polygon points="9.3 46.3 13.8 46.3 13.8 47.4 10.4 47.4 10.4 49.4 13.8 49.4 13.8 50.5 10.4 50.5 10.4 53.2 13.8 53.2 13.8 54.3 9.3 54.3 9.3 46.3"/>
                        <polygon points="14.8 46.3 15.9 46.3 18.5 52 21 46.3 22.2 46.3 18.4 54.6 14.8 46.3"/>
                        <path d="M72.2,100.3a4,4,0,0,1,1.3-3A4.4,4.4,0,0,1,76.7,96a4.3,4.3,0,0,1,3.1,1.3,4,4,0,0,1,1.3,3,4.1,4.1,0,0,1-1.3,3.1,4.5,4.5,0,0,1-6.3,0,4.1,4.1,0,0,1-1.3-3.1m7.7.1a3,3,0,0,0-1-2.2,3.3,3.3,0,0,0-2.4-.9,3.1,3.1,0,0,0-2.3.9,3,3,0,0,0-.9,2.2,2.9,2.9,0,0,0,1,2.2,3.4,3.4,0,0,0,2.4.9,3.1,3.1,0,0,0,2.2-.9,3,3,0,0,0,.9-2.2" transform="translate(-50.1 -50)"/>
                        <polygon points="32.3 46.3 33.3 46.3 33.3 53.2 36 53.2 36 54.3 32.3 54.3 32.3 46.3"/>
                        <polygon points="35.7 46.3 36.8 46.3 39.4 52 41.9 46.3 43.1 46.3 39.4 54.6 35.7 46.3"/>
                        <polygon points="48.7 53.2 48.7 53.2 45.3 53.2 45.3 50.5 48.7 50.5 48.7 49.4 45.3 49.4 45.3 47.4 48.7 47.4 48.7 46.3 44.2 46.3 44.2 54.3 48.4 54.3 48.7 53.2"/>
                    </g>
                    <polygon points="53.3 56.5 50.1 56.5 53.4 43.7 56.6 43.7 53.3 56.5" fill="#163656"/>
                </g>
                <circle class="svg__hover" cx="49.7" cy="50.3" r="45.7" fill="#163656"/>
            </svg>
            {{ range where .Site.Pages "Type" "=" "companies" }}
            <div class="company__content company__{{ .Slug }}">
                <h2 class="company__title">{{ .Title }}</h2>
                <ul class="company__meta list--nostyle">
                    <li><em>{{ .Params.year }}</em></li>
                    <li><strong>{{ .Params.position }}</strong></li>
                </ul>
                <article id="company__{{ .Slug }}" class="company__description hidden">
                    <h1 class="">{{ .Title }}</h1>
                    {{ .Content }}
                </article>
            </div>
            {{ end }}
        </section>
    </div>


</div>