<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="body">
        <aside class="site__ie">{{ .Site.Params.meta.ie }}</aside>
        <section id="loader" class="loader">
            {{ partial "loader.html" . }}
        </section>
        <div class="site__content">
            <section class="landing section__wrapper">
                {{ partial "landing.html" . }}
            </section>
            <section class="about section__wrapper">
                {{ partial "about.html" . }}
            </section>
            <section class="works section__wrapper">
                {{ partial "works.html" . }}
            </section>
            <section class="contact section__wrapper">
                {{ partial "contact.html" . }}
            </section>
        {{ partial "footer.html" . }}
        </div>
        {{ partial "modal.html" . }}
        {{ partial "scripts.html" }}
    </body>
</html>
