.icon__svg {
  --transition-time: .35s;
  &:hover {
    .icon__border {
      transform: rotate(180deg);
      opacity: 0;
    }

    .icon__border--secondary {
      transform: rotate(-180deg);
    }
  }
}

.icon__border,
.icon__border--secondary {
  transition: transform var(--transition-time) linear, opacity var(--transition-time) linear;
  transform-origin: 50% 50%;
}

.icon__border {
  stroke-width: 10px;
  stroke-miterlimit: 10;
}

.icon__border--secondary {
  fill: var(--black);
  stroke: var(--white);
  stroke-width: 5px;
}

.svg__linkedin {
  .linkedin--outer,
  .linkedin--i,
  .linkedin--l {
    transition: fill var(--transition-time) linear;
  }

  &:hover {
    .linkedin--outer {
      fill: var(--white);
    }

    .linkedin--i,
    .linkedin--l {
      fill: var(--black);
    }
  }
}