:root {
  --black: #000000;
  --white: #ffffff;
  --offWhite: #f0f0f0;
  --textWhite: #f0f0f0;
  --bgColor: #000000;
  //--bgLayer-slant: #3c3d42;
  --bgLayer: #ffffff;
  --bgLayer-slant: #000000;
  --bgLayer-landing: #c04848;
  --bgLayer-landing-secondary: #480048;
  --bgLayer-contact: #642b73;
  --bgLayer-contact-secondary: #c6426e;

  --navigation-color: #dedede;

  --landing-height: 800px;
  --landing-top: 0;
  --about-height: 600px;
  --about-top: 500px;
  --works-height: 800px;
  --works-top: 1100px;
  --contact-height: 728px;
  --contact-top: 1800px;



  --site-width: 1000px;
  --site-height: 2570px;
  --site-bgColor: #1E2338;
  --site-textColor: #E6ECF3;
  --icon-size: 32px;
  --icon-color-profile: #c58b8e;
  --icon-color-works: #e57b5e;
  --icon-color-contact: #4bb865;

  --breakpoint-large: 1100px;
  --breakpoint-medium: 800px;
  --breakpoint-small: 500px;
}

$breakpoint-large: 1000px;
$breakpoint-medium: 800px;
$breakpoint-small: 500px;

$white: #f0f0f0;
$black: #000000;

$breakpoints:(
  'mobile': 768px,
  'laptop': 1025px,
  'desktop': 1300px
);