:root {
  --black: #000000;
  --white: #ffffff;

  --about-slant-mobile: .05;


  --scrollbar-baseUnit: 5px;
}
$colorBlack: #000;
$colorWhite: #fff;
$colorRed: #D50000;
$colorRed400: #ff1744;

$bodyBgColor: #000;
$bodyWidth: 2000px;
$scrollbarBaseUnit: 5px;

$contentBgColor: #f5f5f5;
$contentWidth: 850px;

$landingBgColor: #c04848;
$landingBgColorSecondary: #480048;

$aboutBgColor: #000;
$aboutHeight: 550px;

$worksTransitionDuration: .27s;
$worksBgColor: #fff;
$worksHeight: 1270px;

$contactBgColor: #642b73;
$contactBgColorSecondary: #c6426e;
$contactHeight: 500px;
$contactHeightMobile: 400px;

$breakpoint-mobile: 768px;
$breakpoint-laptop: 900px;
$breakpoint-desktop: 1025px;