:root {
  --black: #000000;
  --white: #ffffff;
  --offWhite: #f0f0f0;
  --textWhite: #f0f0f0;

  --site-bgColor: #000000;
  --bgColor: #f5f5f5;
  --landing-bgColor: #c04848;
  --landing-bgColor-secondary: #480048;
  --about-bgColor: #000000;
  --works-bgColor: #ffffff;
  --contact-bgColor: #642b73;
  --contact-bgColor-secondary: #c6426e;


  --landing-height: 700px;


  --about-height: 550px;
  --about-slant: .2;
  --about-slant-mobile: .05;

  --works-height: 1300px;
  --works-slant: .2;
  --works-slant-mobile: .05;


  --contact-height: 500px;



  --site-content-width: 800px;




  --site-width: 1000px;
  --site-height: 2570px;
  --site-textColor: #E6ECF3;
  --icon-size: 32px;
  --icon-color-profile: #c58b8e;
  --icon-color-works: #e57b5e;
  --icon-color-contact: #4bb865;

  --breakpoint-large: 1100px;
  --breakpoint-medium: 800px;
  --breakpoint-small: 500px;
}

$breakpoint-large: 1000px;
$breakpoint-medium: 800px;
$breakpoint-small: 500px;

$white: #f0f0f0;
$black: #000000;

$breakpoints:(
  'mobile': 768px,
  'laptop': 1025px,
  'desktop': 1200px
);